/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(fonts/roboto-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(fonts//roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*--------------------------------------------------------------*/
.input-group.date input {
    cursor: pointer!important;
}
.input-group.date input:read-only {
    background: #ffffff;
}

/*--------------------------------------------------------------*/
.table-responsive {
    overflow: auto;
}

.ts-table-loading {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.table th {
    color: #ffffff;
    background: #55a42f;
}

.table th, .table td {
    border-top: none!important;
}

.table td {
    color: #000000;
    padding: 5px;
}

table tbody tr.odd {
    background: rgba(0, 0, 0, 0.05)!important;
}

table tbody tr.even {
    background: rgba(0, 0, 0, 0.0)!important;
}

tr.selected > td {
    color: #ffffff;
    background: #0094ff!important;
}

table td > .form-control {
    display: flex!important;
    display: -webkit-flex!important;

    width: 100%;
    height: fit-content;

    padding: 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;

    font-size: 0.8rem;
    box-sizing: border-box;
}

table {
    border-collapse: collapse!important;
}

table thead {
    border: none!important;
    margin: 0!important;
}

table th, table td {
    margin: 0!important;
    border: none!important;
}


/*--------------------------------------------------------------*/
.checkbox-group input[type=checkbox] {
    display: none;
}

    .form-group .checkbox-group input[type=checkbox] ~ label {
        height: 38px;
        padding: 0.45rem;
    }

    .checkbox-group input[type=checkbox] ~ label {
        display: inline-block;
        margin-bottom: 0;
        cursor: pointer!important;
        white-space: pre;

        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .checkbox-group input[type=checkbox] ~ label > i {
            font-size: 1.5rem;
        }

        .checkbox-group input[type=checkbox] ~ label > span {
            display: inline-block;
            font-size: 1rem;
            margin-left: 0.6rem;
        }

        .checkbox-group input[type=checkbox] ~ label > span:empty {
            margin-left: 0;
        }

.checkbox-group input[type=checkbox] ~ label > i[data-value="0"] {
    display: inline-block;
}

.checkbox-group input[type=checkbox] ~ label > i[data-value="1"] {
    display: none;
}

.checkbox-group input[type=checkbox]:checked ~ label > i[data-value="0"] {
    display: none;
}

.checkbox-group input[type=checkbox]:checked ~ label > i[data-value="1"] {
    display: inline-block;
}

/*Checkbox*/
.w3-chk {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    height: 100%;
}

    .w3-chk > input {
        width: 1px;
        height: 1px;
        z-index: 0;
        
        position: relative;
        bottom: 0.5rem;
        left: 0.5rem;
        opacity: 0;
    }

        .w3-chk > input ~ label > .fa.fa-square {
            display: inline-block;
        }

        .w3-chk > input ~ label > .fa.fa-check-square {
            display: none;
        }

        .w3-chk > input:checked ~ label > .fa.fa-square {
            display: none;
        }

        .w3-chk > input:checked ~ label > .fa.fa-check-square {
            display: inline-block;
        }

    .w3-chk > label {
        cursor: pointer;
        display: inline-flex;
        display: -webkit-inline-flex;
        flex-flow: row nowrap;

        justify-content: center;
        align-items: center;

        margin: 0;
        height: 100%;
    }

        .w3-chk > label > i {
            display: none;
            justify-content: center;
            align-items: center;
            font-size: 1.25rem;
            z-index: 10;
            position: relative;
        }

        .w3-chk > label > span {
            margin-left: 0.5rem;
            z-index: 10;
        }

    .w3-chk > input ~ label > i:after {
        content: "\f096";
        font: normal normal normal 14px/1 FontAwesome;
        color: rgba(0, 0, 0, 0);

        font-size: 0.3rem;
        position: absolute;

        top: 0.55rem;
        right: 0.43rem;
        z-index: 15;
    }

    .w3-chk > input:focus ~ label > i:after {
        -webkit-transition-duration: 0.1s; /* Safari */
        transition-duration: 0.1s;
        color: inherit;

        font-size: 2rem;
        position: absolute;
        top: -0.3rem;
        right: -0.25rem;
        z-index: 15;
    }
