<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CadenaConexion_IrisLab_LoBarnechea" connectionString="Provider=SQLNCLI11;Data Source=45.71.46.202,7778; Password=xlab; User ID=sa; Initial Catalog=IRIS_LAB_ALEMAN_TEST" providerName="System.Data.OleDB"/>
    <add name="CadenaConexion_IrisLab_Documentos" connectionString="Provider=SQLNCLI11;Data Source=45.71.46.202,7778; Password=xlab; User ID=sa; Initial Catalog=IRIS_LAB_DOCUMENTOS_TEST" providerName="System.Data.OleDB"/>
    <!--<add name="CadenaConexion_IrisLab_LoBarnechea" connectionString="Provider=SQLNCLI11;Data Source=192.168.10.200,7778; Password=xlab; User ID=sa; Initial Catalog=IRIS_LAB_ALEMAN" providerName="System.Data.OleDB"/>-->
  </connectionStrings>
  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="999999999"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="600000" executionTimeout="180"/>
    <!--<httpRuntime maxRequestLength="20480" executionTimeout="180" />-->
  </system.web>
  
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <!-- Add me! -->
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>